/* -----------------------------------------------
Tasarım:  İlberk Eral
----------------------------------------------- */


/* Govde ----------------------------------------------- */
#govdei{
	width:960px; 
	 margin-bottom:50px;
	background-color: #fff; 
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px ;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px ;
	-webkit-border-bottom-left-radius: 5px;
	position: relative;
}

#sagi{
	width:310px; 
	background-color: #fff; 
	float:right; 
	margin-bottom:50px;
}

#anai{
	width:650px; 
	background-color: #fff;  
	float:left;
		 margin-bottom:50px;

}

/* İç Sayfa ----------------------------------------------- */

#yazikapsama{margin:20px; }

.breadcrumb {
	background:#f1f1f1;
	margin:20px; 
	padding:5px;
	border-radius: 3px ; 
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
}


.breadcrumb a{
	padding:10px; 
	color:#404040;
	font-size:12px;
    font-family:Calibri, Tahoma, Arial, Sans-Serif;
}

.tamyazi{
	font-family:Verdana,Tahoma, Arial, Helvetica, sans-serif;
	color:gray;
	line-height:20px;
	font-size:13px;
	margin-bottom:10px;
}

h1.baslik{margin-bottom:10px;}

.etiketler a{
	padding:3px;  
	margin:5px;
	background:#f1f1f1;
	color:#f1f1f1;
	font-size:10px;
    font-family:Tahoma, Arial, Sans-Serif;}
	
.etiketler a:hover{
	padding:3px;  
	margin-top:5px;
	background:#404040;
	color:#ffffff;
	font-size:10px;
    font-family:Tahoma, Arial, Sans-Serif;
}

.tamyazi ul{
    list-style: disc outside;
	margin-left:30px;
}

.tamyazi h2{
	font-family:Verdana,Tahoma, Arial, Helvetica, sans-serif;
	color:gray;
	line-height:20px;
	font-size:15px;
	font-weight:bold;
	margin-top:10px ;
}

.tamyazi img{	
	margin:10px;
	background-color: #f0f0f0;  
	border: 1px solid #dddddd;
	padding:5px 5px 5px 5px;
	position:relative;
}

#yazialtiyazarbilgisi{
    height:74px; 
	background-color: #f0f0f0; 
	border-radius: 3px ;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
    border: 1px solid #dddddd;
	margin-top:20px;
	padding:5px;
}

.yazaravatar img{
	float:left; 
	width:60px; 
	height:60px; 
	margin:5px; 
	margin-left:10px; 
	margin-right:10px; 
	border-radius: 3px ;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
}
	
.yazarkisa { 
	margin:5px;
	font-family:Verdana,Tahoma, Arial, Helvetica, sans-serif;
	color:grey;
	line-height:20px;
	font-size:15px; 
	font-style:italic;	
}

/* Yorum Kısmı ----------------------------------------------- */
#yorumlar {margin-top:30px; }

#yorumlar h2{border-bottom:3px solid #059eee;}

#yorumlar h2 span{
	
	float:left; 
	padding:0 10px; 
	background-color:#fff; 
	margin-left:10px; 
	margin-top:-15px; 
	display:block; 
	font-size:20px; 
	color:#404040;
}

#yorum{
	margin-top:20px; 	margin-bottom:20px;

	
}


.yorumavatar img{float:left; 
	width:60px; 
	height:60px; 
	margin:5px; 
	margin-left:10px; 
	margin-right:10px; 
	border-radius: 3px ;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
	background:#f1f1f1;
	padding:5px;
    border: 1px solid #dddddd;}

#yorumusar{
float:left;
width:475px;
background-color: #fff; 
	margin:5px;
	padding:10px;
	border: 1px solid #dddddd;}
	
.yorumyazari a{
font-family:Verdana,Tahoma, Arial, Helvetica, sans-serif;
	color:#404040;
	line-height:20px;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	padding-top:15px ;

}	
	
.yorumicerik { 
	margin:5px;
	font-family:Verdana,Tahoma, Arial, Helvetica, sans-serif;
	color:grey;
	line-height:20px;
	font-size:15px; 
	font-style:italic;	
}

#yorumgonder {margin-top:30px; }

#yorumgonder h2{border-bottom:3px solid #059eee;}

#yorumgonder h2 span{
	float:left; 
	padding:0 10px; 
	background-color:#fff; 
	margin-left:10px; 
	margin-top:-15px; 
	display:block; 
	font-size:20px; 
	color:#404040;
}

.yorumformu {
	width:500px;
	position:relative;
	top:20px;
	
}



.yorumformu label {
	width:100%;
	display: block;
	padding:10px 0 10px 0;
}

.yorumformu label span {
	display: block;
	color:#404040;
	font-size:15px;
	float:left;
	width:100px;
	text-align:right;
	padding:5px 10px 0 0;
}

.yorumformu .kutu {
	padding:5px 5px;
	width:200px;
	background:#f1f1f1;
	border: 1px solid #ddd;
}

.yorumformu .yorum{
	float:left;
	padding:7px 7px;
	width:350px;
	background:#f1f1f1;
	border: 1px solid #ddd;
	overflow:hidden;
	height:150px;
}

.yorumformu .buton{
	margin:0 0 10px 0;
	padding:4px 7px;
	background:#059eee;
	color:#fff;
	border:none;
	position: relative;
	top:10px;
	left:382px;
	width:100px;
	border-radius: 3px ;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
}

