<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="tr-TR">
  <head>
    <meta name="author" content="İlberk Eral">
    <meta name="description" content="Kişisel Blog">
    <meta name="keywords" content="blog,kişisel,">
    <meta http-equiv="content" content-type="text/html; charset=iso-8859-9">
    <link type='text/css' rel='stylesheet' href='css/reset.css' >
    <link type='text/css' rel='stylesheet' href='css/stil.css' >
	
    <title>Sayfanın Adı</title>
	
  </head>

  <body>
    <div id="container">
        <div id="ustkisim">
	    <div class="logo">
    <a href="http://ilberkeral.blogspot.com"><img src="img/logo.png"/><a/>
	    </div>
        <div class="ustreklam">    
    <a href="http://ilberkeral.blogspot.com"><img src="img/468x60.png"/><a/>
        </div>
	</div>
	<div id="ustmenu">
	 <ul id="menu">
                <li class="anasayfa" class="ilk"><a href="#">Anasayfa</a></li>
                <li><a href="#">Hakkımda</a></li>
                <li><a href="#">Arşiv</a></li>
                <li class="son"><a href="#">İletişim</a></li>
     </ul>
	 
	<div id="arama">
    <form action="" method="get">
        <input type="text" name="kacak" placeholder="Ne aramıştın? Söyle bana.."/>
        <button type="submit">Ara</button>
    </form>
    </div>
	      </div>
	
	<div id="govdei">
	    <div id="anai">
	<div id="yazikapsama">
	<div class="breadcrumb"><a href="#">Anasayfa</a>&#187;<a href="#">Güncel</a>&#187;<a href="#">Hayat Zor!</a></div>
	<h1 class="icerikbaslik"><a href="#" >Yazı Başlığı</a></h1>
<font class="kategorilink"><a href='#' rel='tag'>Güncel</a></font>
			<font class="yazarlink">ilberk Eral</font>
			<font class="zamanlink">3 Ağustos 2012 Cuma</font>
			<font class="yorumlink">İlk Yorum Senden Olsun!</font>
	<div class="tamyazi">
		<center><img src="img/temsiliresim.png" /></center> 
		<p>Kişisel blogumu ilk açtığımda SEO Nedir? başlıklı yazı ile SEO konulu yazılar yazmayı amaçlamıştım. Kaldığım yerden devam ediyorum.
		   Sanırım, SEO denildiğinde akla ilk Backlink gelir. Bu yüzden bu konuya öncelik vermem en doğrusu olacaktır. </p>
		<h2>Backlink Nedir?</h2>
		<p>Türkçe olarak geri link anlamına gelmektedir ancak bu şekilde kullanan yoktur. Herkes backlink demektedir. Backlink bir siteden başka bir siteye verilen linklerdir. A sitesi B sitesine link verince, B sitesi için bu backlink anlamına gelmektedir. </p>
        <h2>Backlink Ne İşe Yarar?</h2>
		<p> Eğer size link veren A sitesinin ziyaretçisi bol ve arama motorları bu A sitesini çok seviyorsa, (Google bu sevgisini PageRank adı verilen bir sistemle gösteriyor.) arama motoru böcekleri bu siteyi sürekli inceleyeceklerdir. Ve bu sitenin verdiği bağlantılara değer göstereceklerdir. (Yani sizin sitenize) Bir diğer yararı ise A sitesinin ziyaretçi sayısı fazla ise elbet merak edip sizin sitenizin bağlantısına tıklayacaktır ve siz yeni ziyaretçiler kazanacaksınız.</p>
        <ul>
			<li>PR değeri (1-10 arasındadır, 5 ve üstü oldukça kalitelidir)</li>
			<li><b>Alexa</b> değeri (Sitenin internet sıralamasını gösterir)</li>
			<li>Domain yaşı (Ne kadar yaşlıysa, o kadar iyi)</li>
			<li>Link çıkışı (Ne kadar az ise o kadar iyi)</li>
		</ul>
	</div>
	<div class="etiketler">
		<a href="#">Etiket</a>
		<a href="#">Metiket</a>
		<a href="#">Falan</a>
		<a href="#">Filan</a>
	</div>
		
	<div id="yazialtiyazarbilgisi">
		<div class="yazaravatar">
			<a href="#" ><img src="img/resimyok.png" style="width:60px"/></a>
		</div>
		<div class="yazarkisa">Yazar profesyonel öğrenci olarak çalışma hayatına devam etmektedir. Ayrıca blog yazmak ve bir şeyler karalamak konusunda takıntıları olduğu dedikoduları doğrudur. </div>
	</div>
	
	<div id="yorumlar"><h2><span>Yorumlar</span></h2>	
	
	<div id="yorum">
	<div class="yorumavatar">
		<a href="#" ><img src="img/resimyok.png" style="width:60px"/></a>
	</div><div id="yorumusar">
	<div class="yorumyazari"><a href="">İlberk Eral</a>(08.07.2012)</div>
	<div class="yorumicerik">Güzel bir yazı olmuş. </div>
	</div></div>
	
	
	<div id="yorum">
	<div class="yorumavatar">
		<a href="#" ><img src="img/resimyok.png" style="width:60px"/></a>
	</div><div id="yorumusar">
	<div class="yorumyazari"><a href="">İlberk Eral</a>(08.07.2012)</div>
	<div class="yorumicerik">Güzel bir yazı olmuş. </div>
	</div></div>
	
	</div>
		<div style="clear:both;"></div>

		<div id="yorumgonder"><h2><span>Yorum Gönder</span></h2>	
		
		
	<form>
          <div class="yorumformu">
            <label>
               <span>Adın:</span>
               <input type="text" placeholder="Gerçek adınızı yazmasanızda olur" class="kutu" name="isim" id="isim"/>
            </label>
             <label>
               <span>Email:</span>
               <input type="text" placeholder="Bizden başkası göremez" class="kutu" name="email" id="email"/>
            </label>
             <label>
                <span>Site Adresin:</span>
                <input type="text" placeholder="Yoksa google yaz :)" class="kutu" name="siteadres" id="siteadres"/>
            </label>
            <label>
                <span>Yorumun:</span>
                <textarea class="yorum"  placeholder="O kadar kutu doldurdun, buraya da içini dök" name="yorum" id="yorum"></textarea>
                <input type="button" class="buton" value="Gönder" />
            </label>
            </div>
    </form>

	</div>
	</div>
	
	</div>
			
	
	<div id="sagi">
	
	<div id="sosyal">
	<a class="facebook" href="#"></a>
	<a class="twitter" href="#"></a>
	<a class="quup" href="#"></a>
	<a class="googleplus" href="#"></a>
    </div>
		 
	<div id="sponsorlar">
	<a class="sponsorreklam" href="#"></a>
	<a class="sponsorreklam" href="#"></a>
	<a class="sponsorreklam" href="#"></a>
	<a class="sponsorreklam" href="#"></a>
	</div>
		  
    <div id="widget"><h2><span>Kategoriler</span></h2>
    <ul id="ikili"> 
	<li><a class="kategoriler" href="#">Güncel</a></li>
	<li><a class="kategoriler" href="#">Hayat</a></li>
	<li><a class="kategoriler" href="#">Komik</a></li>
	<li><a class="kategoriler" href="#">Teknoloji</a></li>
	<li><a class="kategoriler" href="#">Edebiyat</a></li>
	<li><a class="kategoriler" href="#">Tarih</a></li>
	<li><a class="kategoriler" href="#">Tasarım</a></li>
	<li><a class="kategoriler" href="#">CSS</a></li>
	<li><a class="kategoriler" href="#">Programlama</a></li>
	<li><a class="kategoriler" href="#">Müzik</a></li>
	<li><a class="kategoriler" href="#">Sinema</a></li>
	<li><a class="kategoriler" href="#">Aklıma Gelmedi</a></li>
	</ul>
	</div>
		 
	<div id="widget"><h2><span>Popüler Yazılar</span></h2>
   
    <div class="popyazi"> 
 	<div class="popresim"><a href="#" ><img src="img/resimyok.png" width="50px"/></a></div>
	<div class="popicerik"><h1><a href="#" >Popüler Bir Yazı</a></h1>
	<font class="popyorumsay"><a href='#' rel='tag'>77 Yorum</a></font>
	<font class="popokunma">1.995 Kez Okundu</font>
	</div>
	</div>
		   
	<div class="popyazi"> 
 	<div class="popresim"><a href="#" ><img src="img/resimyok.png" width="50px"/></a></div>
	<div class="popicerik"><h1><a href="#" >Popüler Bir Yazı</a></h1>
	<font class="popyorumsay"><a href='#' rel='tag'>77 Yorum</a></font>
	<font class="popokunma">1.995 Kez Okundu</font>
	</div>
	</div>
		  
	<div class="popyazi"> 
 	<div class="popresim"><a href="#" ><img src="img/resimyok.png" width="50px"/></a></div>
	<div class="popicerik"><h1><a href="#" >Popüler Bir Yazı</a></h1>
	<font class="popyorumsay"><a href='#' rel='tag'>77 Yorum</a></font>
	<font class="popokunma">1.995 Kez Okundu</font>
	</div>
	</div>
		  
	<div class="popyazi"> 
 	<div class="popresim"><a href="#" ><img src="img/resimyok.png" width="50px"/></a></div>
	<div class="popicerik"><h1><a href="#" >Popüler Bir Yazı</a></h1>
	<font class="popyorumsay"><a href='#' rel='tag'>77 Yorum</a></font>
	<font class="popokunma">1.995 Kez Okundu</font>
	</div>
	</div>
		 
	<div class="popyazi"> 
 	<div class="popresim"><a href="#" ><img src="img/resimyok.png" width="50px"/></a></div>
	<div class="popicerik"><h1><a href="#" >Popüler Bir Yazı</a></h1>
	<font class="popyorumsay"><a href='#' rel='tag'>77 Yorum</a></font>
	<font class="popokunma">1.995 Kez Okundu</font>
	
	</div>
	
	</div>
		
	</div>
		
	</div>
		<div style="clear:both;"></div>

	</div>

	</div>
	
	<div id="enalt">	
	<div id="enaltkapsama">
		<div id="enalt1"><h2><span>Son Yorumlar</span></h2>
		<div class="sonyorum">
		<div class="sonyorumavatar"><a href="#" ><img src="img/resimyok.png" width="32px"/></a></div>
		<div class="yorumyapan"><h1  class="yorumyapan">İlberk Eral</h1><h3 class="yorumyapan">(Tasarım Nasıl Olmuş?)</h3></div>
        <font class="yorumicerik"><a href="#" >Son derece berbat bir tasarım hazırlanmış. </a></font>
		</div>
		<div class="sonyorum">
		<div class="sonyorumavatar"><a href="#" ><img src="img/resimyok.png" width="32px"/></a></div>
		<div class="yorumyapan"><h1  class="yorumyapan">İlberk Eral</h1><h3 class="yorumyapan">(Tasarım Nasıl Olmuş?)</h3></div>
        <font class="yorumicerik"><a href="#" >Son derece berbat bir tasarım hazırlanmış. </a></font>
		</div>
		<div class="sonyorum">
		<div class="sonyorumavatar"><a href="#" ><img src="img/resimyok.png" width="32px"/></a></div>
		<div class="yorumyapan"><h1  class="yorumyapan">İlberk Eral</h1><h3 class="yorumyapan">(Tasarım Nasıl Olmuş?)</h3></div>
        <font class="yorumicerik"><a href="#" >Son derece berbat bir tasarım hazırlanmış. </a></font>
		</div>
		<div class="sonyorum">
		<div class="sonyorumavatar"><a href="#" ><img src="img/resimyok.png" width="32px"/></a></div>
		<div class="yorumyapan"><h1  class="yorumyapan">İlberk Eral</h1><h3 class="yorumyapan">(Tasarım Nasıl Olmuş?)</h3></div>
        <font class="yorumicerik"><a href="#" >Son derece berbat bir tasarım hazırlanmış. </a></font>
		</div>
		<div class="sonyorum">
		<div class="sonyorumavatar"><a href="#" ><img src="img/resimyok.png" width="32px"/></a></div>
		<div class="yorumyapan"><h1  class="yorumyapan">İlberk Eral</h1><h3 class="yorumyapan">(Tasarım Nasıl Olmuş?)</h3></div>
        <font class="yorumicerik"><a href="#" >Son derece berbat bir tasarım hazırlanmış. </a></font>
		</div>
		</div>
		
	<div id="enalt2"><h2><span>Tweetler</span></h2>
	<div class="sontweet">
	<p>"Evrenin en anlaşılmaz özelliği, anlaşılabilir olmasıdır." (A. Einstein)</p>
	<p>"Ancak başkaları için yaşanan bir hayat, yaşamaya değer bir hayattır."</p>
	<p>"Bir kum tanesinin sırrını çözmeyi başarsaydık, bütün dünyanın sırrını öğrenmiş olurduk."</p>
	<p>"Delilik aynı şeyi tekrar tekrar yapmak ve farklı sonuçlar beklemektir."</p>
	<p>"Hata yapın: "Hiç hata yapmamış bir insan yeni bir şey denememiş demektir."</p>
	</div>
	</div>
	
	<div id="enalt3"><h2><span>Hakkında</span></h2>
	<div class="hakkindayazi"><p>Tüm Hakları Saklıdır. © 1995-2012
	</p><p>
	İçerik hakkındaki şikayetlerinizi bize iletisim[@]mail.com adresine bildirebilirsiniz.</p><p>
	Ayrıca sizin görüş ve önerilerinize değer veriyoruz. Bu tür iletileri, sitemizdeki iletişim sayfamızı
	kullanarak gönderebilirsiniz.</p><p>Daha ne yazsak.. Efendim şimdi bu yazı daha uzamalı ki ekran görüntüsünde hoş dursun.</p>
	</div>
	</div>

	</div>
	</div>
	
	<div id="enenalt"><div id="enaltkapsama">
	<font class="enenaltsollink"><a href="#" >Anasayfa </a></font>
	<font class="enenaltsollink"><a href="#" >Hakkında </a></font>
	<font class="enenaltsollink"><a href="#" >İletişim </a></font>
	<font class="enenaltsollink"><a href="#" >Arşiv </a></font>
	<font class="enenaltsollink"><a href="#" >Sitemap </a></font>
	
	<font class="tasarimiyapanicinozelbiralanyaptimkaldirmazsanizsevinirim"><a href="http://ilberkeral.blogspot.com" >Tasarım:İlberk Eral</a></font>
	</div>
	
	</div>

  </body>
</html>